<p class='masthead-subheading font-weight-light mb-2'>Role :- Student</p>
<p class='masthead-subheading font-weight-light mb-0'>Studing in Class :- <%= current_user.classes.join("") %></p>
<p class='masthead-subheading font-weight-light mb-2 mt-3'>Subject Which Student Studing :- <%= current_user.course%> </p>

