<div class="dropdown nav-item mx-0 mx-lg-1 mt-3">
  <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="badge badge-danger ml-2">4</span>
    <i class="fas fa-bell"></i>
  </a>
  <ul class="dropdown-menu avbar-nav ml-auto nav-flex-icons" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item waves-effect waves-light" href="#">Action <span class="badge badge-danger ml-2">4</span></a></li>
    <li><a class="dropdown-item waves-effect waves-light" href="#">Another action <span class="badge badge-danger ml-2">1</span></a></li>
    <li><a class="dropdown-item waves-effect waves-light" href="#">Something else here <span class="badge badge-danger ml-2">4</span></a></li>
  </ul>
</div>